/libsredis.a
/libsredis.so
*~
#*
/root/
*.o

*.lo
.deps/
.libs/
/Makefile.in
/configure.in
/aclocal.m4
/m4/
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/libtool
/ltmain.sh
/missing
/install-sh
/depcomp
/configure
/sredis-example

libsredis*.la
libsredis*.dylib
sredis.pc
